/**
*
*   PHONE
*
*/

@media (max-width: 640px) {
 * {
   box-sizing: border-box;
 }

 /* passer body (et tous les Ã©lÃ©ments de largeur fixe) en largeur automatique */

 body {
   width: auto;
   margin: 0;
   padding: 0;
 }

 /* fixer une largeur maximale de 100% aux Ã©lÃ©ments potentiellement problÃ©matiques */

 img,
 table,
 td,
 blockquote,
 code,
 pre,
 textarea,
 input,
 iframe,
 object,
 embed,
 video {
   max-width: 100%;
 }

 /* conserver le ratio des images */

 img {
   height: auto;
 }

 /* gestion des mots longs */

 textarea,
 table,
 td,
 th,
 code,
 pre,
 samp {
   -webkit-hyphens: auto; /* cÃ©sure propre */
   -moz-hyphens: auto;
   hyphens: auto;
   word-wrap: break-word; /* passage Ã  la ligne forcÃ© */
 }

 code,
 pre,
 samp {
   white-space: pre-wrap; /* passage Ã  la ligne spÃ©cifique pour les Ã©lÃ©ments Ã  chÃ¢sse fixe */
 }

 /* Passer Ã  une seule colonne (Ã  appliquer aux Ã©lÃ©ments multi-colonnes) */

 .element1,
 .element2 {
   float: none;
   width: auto;
 }

 /* masquer les Ã©lÃ©ments superflus */

  .phone-hide{
    display: none;
  }
  .phone-large{
    width: 100%!important;
  }
  .phone-left{
    float: left!important;
  }
  .phone-center{
    text-align: center!important;
  }
  .phone-justify{
    text-align: justify;
  }
  .phone-large {
    width:100%;
  }

  iframe {
    height:170px!important;
  }

  .footer-links .col-lg-7 {
    margin-bottom: 20px;
    text-align: center;
  }
  .container {
    padding: 0px!important;
  }
  .heading-content {
    padding: 20px;
    margin-top: 150px;
  }
  .heading-content img { width: 100%!important; }
  .argument, .argument-filter, .news {
    padding: 20px;
  }

  .navigation-links {
    padding: 10px;
    text-align: right;
    padding-right: 20px;
  }

  #menuPhone { text-align: center; }
  #menuPhone a { margin-top: 10px; }

  .navigation-links .bi {
    color:white;
    font-size: 25px;
  }

  .container-phone {
    padding: 10px;
  }

  .footer img {
    margin-bottom: 25px;
  }

  .heading-filter { background-color:#00DFFF; height:100vh; }

  .join { padding-left:0px!important;padding-right:0px!important; }
  .presentation__logo { width:95%; }
  .join iframe { width:95%!important; }

  .heading-content-pages img { margin-top: 10vh; }
  .heading-filter-page { height:50vh; }
  .container-pages { padding-left:15px!important; padding-right:15px!important; }

}

@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}

@media (min-width: 992px) {
  .computer-right{
    float: right!important;
  }
  .computer-hide{
    display: none;
  }
}

.dropdown-menu {
  background-color: #24252B;
  border: 0px;
  border-radius: 3px;
  color:white!important;
}
