@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

:root {
  --bg-body: #fff;
  --background: url("https://i.ibb.co/FDNbTVD/bg-normal.png");
  --background-spawn: url("https://i.ibb.co/z59nn21/tkt.png");
}

html, body { overflow-x: hidden; }

body {
  background-color: var(--bg-body);
  font-family: "Montserrat", sans-serif!important;
  position:relative;
}
a { text-decoration: none!important; }


/** PRE-CLASS **/
.container { padding-right: 10vh; padding-left: 10vh; }
.right { float: right !important; }
.bold { font-weight: bold; }
.badge { font-weight: normal; }
.bold { font-weight: bold; }
.btn-large { width: 100%; }
.btn-block { width: 100%; margin: 0px; }
.disapear { width:0px; height:0px; margin:0px; padding:0px; opacity:0; }
.opac3 { opacity: 0.3; }
.color, .card a, .card-body i, .list-group-item:hover { color: #e89c1b; }
.bg-color { background-color:rgb(37, 95, 25); padding-left:15px;padding-right:15px;}
.text-center { text-align: center; }

/** BUTTON **/
.btn-primary  {
  color: white !important;
  background-color: #212121 !important;
  border: 0px;
  font-weight: bold;
}
.btn-primary:hover {
  background-color:rgb(37, 95, 25) !important;
}
.btn-default {
  color: white !important;
  background-color: #212121 !important;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
}
.btn-ip {
  background-color: rgba(0, 0, 0, 0.3)!important;
  border-radius: 3px;
  color: white!important;
  margin-top: 30px!important;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}
.btn-ip i {
  margin-right: 10px;
}
.btn-danger {color:white!important;background-color:#CF4436;}


/** BADGE **/
.badge {
  font-size: 15px;
  border-radius: 2px;
  color:black;
}
.badge-color { background-color:rgb(37, 95, 25) !important; }
.badge-dark { background-color: rgba(0, 0, 0, .2); }
.badge-grey { background-color: rgba(0, 0, 0, .1); font-weight:normal; }


/** ALERT **/
.alert {
  border-radius: 3px;
  border: 0px;
}
.alert-success, .badge-success {
  background-color: rgba(85,238,195,.3);
  color: #00b894;
}
.alert-danger {
  background-color: rgba(250,177,160,.3);
  color: #e17055;
}
.alert-info {
  background-color: rgba(116,185,255,.3);
  color: #0984e3;
}
.alert-warning {
  background-color: rgba(255,234,167,.3);
  color: #fdcb6e;
}


/** TITLE **/
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
.title-block-center { text-align: center; }
.title {
  color: black;
  font-weight: bold;
  margin-bottom: 0px;
}
.subtitle {
  color: #666;
}




.list-group .active {
  color: white !important;
  background-color: #212121 !important;
  border: 0px;
}


.bdg {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 7.5px;
  border-radius: 5px;
}
.bdg-large {
  padding-left: 15px;
  padding-right: 15px;
}
.bdg-large:hover {
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
}


.card {
  margin-bottom: 25px;
  margin-top: 10px;
}
.card-title {
  font-size: 22.5px;
  font-weight: bold;
}
.wiki .card:hover {
  -webkit-box-shadow: 1px 6px 12px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 6px 12px -10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
}
.table-dark th {
  background-color: white !important;
  color: black;
}
.bg-secondary {
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 3px;
}
.h-100 {
  height: auto !important;
}
.gy-4 {
  margin-top: -35px !important;
}
.card-body h2 {
  color: black;
  font-weight: bold;
}
.tab-content .card {
  margin-top: 0px;
}
.tab-content .card-body {
  padding-bottom: 0px;
}

/** HEADER **/
.heading {
  background-image: var(--background);
  background-size: cover;
}
.heading-home { height: 100vh; }

.navigation-top {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}
.navigation-top a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.navigation-top .bdg i, .bdg-large i { margin-right: 5px; }
.navigation-links {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
  text-align: center;
}
.navigation-links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
}
.navigation-links a:hover {
  transition-duration: 0.3s;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.heading-content { padding: 150px; }
.heading-content img { width: 50%; }
.icons-swipe {
  margin-top: 18vh;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: iconSwipe;
}
.icons-swipe i {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: 35px;
}
@keyframes iconSwipe {
  0% { margin-top: 16vh; }
  50% { margin-top: 18vh; }
  100% { margin-top: 16vh; }
}


/** PAGES ELEMENTS **/
.news {
  margin-top: 125px;
  margin-bottom: 65px;
}
.news img {
  border-radius: 3px;
}
.news-body {
  text-align: center;
}
.news-title {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
.news-subtitle {
  padding: 0px;
  font-size: 15px;
  color: #3e3e3e;
}
.news-subtitle-badge {
  background-color:rgb(37, 95, 25);
  color:black;
  padding: 0px 5px;
  font-weight: bold;
}

.argument,
.trailer {
  background-color: rgb(245, 245, 245);
  padding: 125px 0px;
}
.argument img {
  width: 100%;
}
.argument .title {
  font-size: 50px;
  font-weight: 900;
}
.argument p {
  text-align: justify;
  font-size: 15px;
  color: #343434;
}
.argument-image {
  background-image: var(--background-spawn);
  background-size: cover;
  background-position: top;
}
.argument-filter {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 125px 0px;
}
.argument-filter .title,
.argument-filter p {
  color: white !important;
}
.argument-filter .subtitle {
  color: #dedede;
}

/** VOTE **/
.notif-discord {
  margin-top: 10px;
  border-radius: 3px;
}
.notif-discord-filter {
  background-color: rgba(114,137,218,1);
  padding: 24.5px 0px;
  color:white;
  text-align: center;
  border-radius: 3px;
  transition-duration: 0.3s;
}
.notif-discord-filter:hover {
  background-color: rgba(84,100,158,1);
}
.learn-vote i, .notif-discord i {
  margin-right: 5px;
}
.learn-vote h3, .notif-discord h3 {
  font-weight: bold;
  font-size: 17.5px;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
}
.learn-vote {
  margin-top: 10px;
  border-radius: 3px;
}
.learn-vote-filter {
  background-color: #27ae60;
  padding: 24.5px 0px;
  color:white;
  text-align: center;
  border-radius: 3px;
  transition-duration: 0.3s;
}
.learn-vote-filter:hover {
  background-color: rgba(39,173,96,.8);
}

html { 
  margin-bottom: 20px;
}

/** FOOTER **/
.footer { 
  background-color: #212121;
}
.footer img { width: 100%; }
.footer-links { padding: 50px; }
.footer-title-copy { font-size:15px; }
.footer-copyright {
  border-top: 1px solid #303030;
  background-color: #212121;
  padding: 25px;
  color: white;
}
.footer-title {
  font-weight: bold;
  padding: 0px !important;
  margin: 0px !important;
}
.footer-subtitle {
  font-size: 11.5px;
  padding: 0px !important;
  margin: 0px !important;
  opacity: 0.8;
}
.footer a { color: white; }
.footer-btn-shop,
.footer i {
  color: #fff;
  padding: 17.5px;
  margin-top: 35px;
  opacity: .7;
  font-size: 25px;
}
.footer-btn-shop:hover,
.footer i:hover {
  transition-duration: 0.3s;
  opacity:1;
}
.footer-links .col-lg-3, .footer-links .col-lg-2 { text-align: center; }
.footer-links .col-lg-2 {
  text-align: center;
}
.footer-links .col-lg-2 .links {
  padding-top: 17.5px;
}
.footer-links .col-lg-2 a {
  color:white;
  font-weight: bold;
  text-transform: uppercase;
}



.btn-danger {color:white!important;background-color:#CF4436;}


input[type=text]{
  background-color: #dcdcdc!important;
  border-radius: .5rem!important
}
 

.card{
  width: 100%!important;
}

.card-deck {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck .card {
  margin-top:  70px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck {
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.card-img, .card-img-top{
  margin-top: -70px;
}

.list-group{
  margin-top: 10px;
}
.fs-7{
  font-size: 12px;
  float: right;
  margin-top: 7px;
}
.btn{
  margin-top: 5px;
}
form .btn{
  box-shadow: 3px 3px 8px 0px rgb(0 0 0 / 40%);
}

.btn-grey{
  background-color: #d0cbb7!important;
}
.btn-grey:hover{
  background-color: #f5f3ea!important;
}
.btn-secondary{
  color: white!important;
}
.btn-secondary:hover{
  border-color: #e89c1b!important
}
.text-primary{
  color: #e89c1b!important;
}
.cart{
  width: 18rem;
  background-color: white; 
  border-radius: 5px;
  border: 1px solid rgb(37, 95, 25);
  position: fixed;
  z-index: 2;
  right: 15px;
  top: 33%;
}

@media (max-width: 480px) {
  .cart{
    position: relative;
    width: 100%;
    left: 0px;
    top: 10px;
  }
}

.cart-content{
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
  max-height: 250px;
}
.text-right{
  text-align: right;
}
/* ====
SCROLLBAR 
==== */

/* width */
.cart-content::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

/* Track */
.cart-content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
.cart-content::-webkit-scrollbar-thumb {
  background:rgb(37, 95, 25); 
}

/* Handle on hover */
.cart-content::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 155, 155); 
}


button, input[type=text], .card, .badge, .btn, .post-img.img-fluid, .news-subtitle-badge, iframe{
  border-radius: 1.5rem;
}
