<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Rejoignez Drunirs, un serveur Minecraft 1.18.2 Moddée. Profitez d’un serveur fluide et innovant avec des mises à jour régulières !">
  <meta name="theme-color" content="#E89C1B">
  <meta name="author" content="Tristan">
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NP9S9M8');</script>
    <!-- End Google Tag Manager -->
  <!-- OG & Twitter -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://landofdrunirs.fr">
  <meta property="og:title" content="Drunirs - Accueil">
  <meta property="og:site_name" content="Serveur Minecraft 1.18.2 Moddée">
  <meta property="og:description" content="Rejoignez Drunirs, un serveur Minecraft 1.18.2 Moddée. Profitez d’un serveur fluide et innovant avec des mises à jour régulières !">
  <meta property="og:image" content="https://hyping.fr/assets/img/favicon.ico" />
  <meta property="og:image:alt" content="Favicon de Drunirs." />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@Drunirs">
  <meta name="twitter:title" content="Drunirs | Serveur Minecraft 1.18.2 Moddée">
  <meta name="twitter:description" content="Rejoignez Drunirs, un serveur Minecraft 1.18.2 Moddée. Profitez d’un serveur fluide et innovant avec des mises à jour régulières !">
  <meta name="twitter:image" content="https://hyping.fr/storage/img/hyping.png">
  <meta name="twitter:creator" content="@Drunirs">
  <meta name="twitter:creator:id" content="@Drunirs">

  <link rel="apple-touch-icon" sizes="180x180" href="https://hyping.fr/assets/img/favicon.ico">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/header.webp') }}" sizes="32x32">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/header.webp') }}">
  <meta name="msapplication-TileImage" content="https://hyping.fr/assets/img/favicon.ico">
  <meta name="msapplication-TileColor" content="#E89C1B">

      <meta name="keywords" content="hyping, skyblock, oneblock, serveur minecraft, minecraft, serveur 1.18">
  <link rel="canonical" href="https://hyping.fr">
  <meta name="csrf-token" content="OBMXPFpS0ts4XgNilgODgVzDBNunnUTSQ9orfvx2">

  <title>Home - Drunirs</title>

  <!-- JS -->
  <script src="https://hyping.fr/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="https://hyping.fr/assets/vendor/axios/axios.min.js" defer></script>
  <script src="https://hyping.fr/assets/js/script.js" defer></script>
  
  <!-- CSS -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v6.0.0/css/pro.min.css" crossorigin="anonymous"> 
  
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Drunirs",
      "url": "https://landofdrunirs.fr",
      "address": "play.drunirs.ca",
      "sameAs": [
      "https://discord.hyping.fr",
      "https://twitter.com/HypingStudio",
      "https://www.tiktok.com/@play.hyping.fr",
      "https://www.instagram.com/hyping.studio/",
      "https://www.facebook.com/Hyping-Studio-100843056071548"
      ]
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/feeefe9188.js" crossorigin="anonymous"></script>
</head>
<body>
  
<div class="heading heading-home">
  <div class="heading-filter">

    <!-- NAVBAR -->
    <div class="navigation">
      <div class="navigation-top">
        <div class="container">
          <div class="row">
            <div class="col-6 phone-hide">
              <strong class="bdg" style="margin-right:10px;">
                <i class="fa-regular fa-user"></i>
                                0
                              </strong>
              Players <strong>online</strong>
            </div>
            <div class="col-lg-6">
              <span class="right">

                                <a href="https://hyping.fr/user/login" class="bdg bdg-large"><i class="fa-solid fa-right-to-bracket"></i></i> Log in</a>
                <a href="https://hyping.fr/user/register" class="bdg bdg-large"><i class="fa-solid fa-user-plus"></i> Sign up</a>
                              </span>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark pt-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navigation-links justify-content-center w-100">
            <a class="nav-item" href="index.html"> Home</a>
            <a class="nav-item" href="#">Wiki</a>
            <a class="nav-item" href="#">Play</a>
            <a class="nav-item bdg bdg-large purple" href="shop.html"><i class="fa-solid fa-cart-shopping"></i> Shop</a>
          </div>
        </div>
      </nav>
    </div>
    <!-- <style type="text/css">
      .purple{
        background: #222222!important;
      }
    </style> -->
    <!-- END NAVBAR -->

    <!-- HEADING CONTENT -->
    <div class="heading-content">
      <div class="container">

        <center>
          <a href="https://discord.gg/hyping">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Drunirs Logo">
          </a>
          <br>
          <button type="button" name="button" class="btn btn-ip" onclick="copyToClipBoard()">
            <i class="fa-solid fa-play"></i>play.drunirs.ca
          </button>
        </center>


        <div class="icons-swipe">
          <center>
            <i class="fa-solid fa-arrow-down"></i>
          </center>
        </div>

      </div>
    </div>
    <!-- END HEADING CONTENT -->

  </div>
</div>

<div class="trailer">
  <div class="container">
    <div class="title-block title-block-center">
      <h2 class="title">Drunirs - Trailer</h2>
      <span class="subtitle">Created by Tristan</span>
    </div>
    <br><br>
    <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ZlNFpri-Y40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
  </div>

<div class="news">
  <div class="container">

    <div class="title-block title-block-center">
      <h2 class="title">News of the Mod !</h2>
      <span class="subtitle">Follow the News of the Mod here !</span>
    </div>

    <br><br>
    <div class="row">
                    <div class="col-lg-4">
      <a href="https://hyping.fr/news/astuces">
                <img src="https://i.ytimg.com/vi/5WfTEZJnv_8/maxresdefault.jpg" class="post-img img-fluid" alt="*NAME*">
        
        <div class="news-body">
          <h3 class="news-title">*NAME*</h3>
          <h4 class="news-subtitle">
            <span class="news-subtitle-badge">***</span>
            <span class="news-subtitle-date">*DATE*</span>
          </h4>
        </div>
      </a>
    </div>
    
                      <div class="col-lg-4">
      <a href="https://hyping.fr/news/halloween">
                <img src="https://i.ytimg.com/vi/0OY8vFiIRMw/maxresdefault.jpg" class="post-img img-fluid" alt="*NAME*">
        
        <div class="news-body">
          <h3 class="news-title">*NAME*</h3>
          <h4 class="news-subtitle">
            <span class="news-subtitle-badge">***</span>
            <span class="news-subtitle-date">*DATE*</span>
          </h4>
        </div>
      </a>
    </div>
    
                      <div class="col-lg-4">
      <a href="https://hyping.fr/news/settings">
                <img src="https://i.ytimg.com/vi/uwTCzJkCRpY/maxresdefault.jpg" class="post-img img-fluid" alt="*NAME*">
        
        <div class="news-body">
          <h3 class="news-title">*NAME*</h3>
          <h4 class="news-subtitle">
            <span class="news-subtitle-badge">***</span>
            <span class="news-subtitle-date">*DATE*</span>
          </h4>
        </div>
      </a>
    </div>
    
                                          <center>
      <a href="https://hyping.fr/news/" class="btn btn-default" style="margin-top:50px;">See More News...</a>
    </center>

  </div>
</div>
</div>

<!-- Argument 1 -->
<div class="argument">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <br><br>
        <img src="{{ url_for('static', filename='img/tktEarth.png') }}" alt="Image argument 1" class="phone-hide">
      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-6">

        <div class="title-block">

          <!-- Titre arguement -->
          <h2 class="title no-hat"><span class="bg-color">What</span> is Drunir ?</h2>

          <!-- Sous titre arguement -->
          <span class="subtitle">A Minecraft mod about a Magical Dimension !</span>
        </div>
        <hr>

        <!-- Description arguement -->
        <p>
          Drunirs is a <strong>Minecraft Mod</strong> about a Magical Dimension full of Mythological Creatures.

          With the addition of mythical beasts like <strong>dragons and unicorns</strong> , players can explore a whole new world of possibilities !
        </p>
        <p>With new abilities, items, and challenges, Drunirs promises to bring a fresh and exciting dimension to <strong>Minecraft gameplay</strong>.</p>


        <!-- Bouton arguement -->
        <a target="_blank" href="https://hyping.fr/wiki" class="btn btn-default phone-large">See More...</a>

      </div>
    </div>
  </div>
</div>

<!-- Argument 2 -->
<div class="argument argument-image" style="padding:0px;">
  <div class="argument-filter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">

          <div class="title-block">

            <!-- Titre arguement -->
            <h2 class="title upper-hat">*Text Here...*</h2>

            <!-- Sous titre arguement -->
            <span class="subtitle">*Text Here...*</span>
          </div>
          <hr>

          <!-- Description arguement -->
          <p>
            *Paragraph here...*
          </p>

          <!-- Bouton arguement -->
          <a href="https://twitter.com/HypingStudio" target="_blank" class="btn btn-default phone-large">See more...</a>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Argument 3 -->
<div class="argument">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <br><br>
        <img style="width: auto; margin-left: 8em" src="https://media.discordapp.net/attachments/992511615830331464/992702537096503306/unknown_3.png" alt="Image argument 1" class="phone-hide">
      </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-6">

        <div class="title-block">

          <!-- Titre arguement -->
          <h2 class="title  upper-hat">Make some <span class="bg-color">links</span> !</h2>

          <!-- Sous titre arguement -->
          <span class="subtitle">Join the community in the Discord !</span>
        </div>
        <hr>

        <!-- Description arguement -->
        <p>
          Drunirs is a Discord Server with <strong id="discordCount">more than *NUMBER*</strong> members !
        </p>
        <p>
          We are a chill community where you can engage in discussions and have some tips on gameplay !
          You can also come <span class="bold">ask question</span> to our teams.
        </p>

        <!-- Bouton arguement -->
        <a href="https://discord.gg/3f8uG5UCBU" class="btn btn-default phone-large">Join the Discord</a>

        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript">
          $.get({
            url: "https://hyping.fr/api/getDiscordStats.php",
            data: {},
            success: function(data) {
              result = JSON.parse(data)
              $("#discordCount").html(`${new Intl.NumberFormat('fr-FR', { maximumSignificantDigits: 3 }).format(result.approximate_member_count)}`)
            },
          }, 'json');
        </script>
      </div>
    </div>
  </div>
</div>


    
  <div class="footer">
  <div class="footer-links">
    <div class="container">
      <div class="row">

        <div class="col-sm-2">
          <img src="img/logo.png" style="margin-top: 15px;" alt="Hyping Logo">
          <p class="logos"><a href="https://discord.gg/hyping" target="_blank"><i class="fa-brands fa-discord"></i></a>
            <a href="https://twitter.com/HypingStudio" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.tiktok.com/@go.hyping.fr" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.instagram.com/hyping.studio/" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
          </div>
          <div class="col-sm-5">
          </div>

          <div class="col-sm-5 categFooter">
            <div class="row">
              <div class="col-sm">
                <h6>A propos</h6>
                <p><a href="play.html">Jouer sur Hyping</a></p>
                <p><a href="news.html">Actualités</a></p>
              </div>
              <div class="col-sm">
                <h6>Soutenez-nous</h6>
                <p><a href="shop.html">Boutique</a></p>
                <p><a href="#">Vote et gagne</a></p>
                <p><a href="http://www.serveurs-minecraft.org/">Serveur Minecraft</a></p>
              </div>
              <div class="col-sm">
                <h6>Aide</h6>
                <p><a href="#">Centre d'aide</a></p>
                <p><a href="/*DOCS/*">Règlement en jeu</a></p>
                <p><a href="faq.html">FAQ</a></p>
                <p><a href="#">Nous contacter</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">

    <style>
      .categFooter{
        font-family: Inter, 'sans-serif;';
        font-weight: 500;
      }
      .logos{
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
      }
      .categFooter h6{
        color: white;
        text-transform: uppercase;
        font-size: .75rem;
        font-weight: 600;
        line-height: 1rem;
      }
      .categFooter p{
        margin: 0;
        opacity: 0.6; 
        font-size: .875rem;
        line-height: 1.5rem;

      }
      .footer-copyright .right{
        opacity: 0.8;
        margin-right: 19px;
        font-size: 11.5px;
      }
      .logos i{
        margin: 0;
        padding: 0;
        min-width: 35px;
        text-align: center;
        font-size: initial;
      }
      .categFooter .col-sm{
        margin-top: 15px;
      }

      .linksFooter{
        margin-top: 10px;
      }
      .linksFooter a{
        color: white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
        padding-top: 18.5px;
        transform: scale(0.9);
        transition: transform .5s;
      }
      .linksFooter a:hover{
        transition: transform .5s;
        transform: scale(1);
      }
      @media (max-width: 480px){
        .linksFooter{
          text-align: center;
          display: flex;
          flex-direction: column;
        }
      }
    </style>


    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p class="footer-subtitle phone-center">© 2023 Drunirs · Tous droits réservés</p>
          </div>
          <div class="col-sm-1 phone-hide">
            <label for="textArea" class="disapear">IP</label>
            <textarea id="textArea" class="disapear">play.drunirs.ca</textarea>
          </div>
          <div class="col-sm-3">
            <div class="right phone-hide">
              <a href="https://hyping.fr/cgu">CGU</a> · <a href="https://hyping.fr/cgv">CGV</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



</body>
</html>
